* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}

footer {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    position: fixed;
    background: black;
    color: white;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #42a5f5;
    border-bottom: 3px solid #e53935;
}

.logo_text {
    padding: 5px 10px;
    margin-left: 30px;
}

.logo_text h3 {
    text-indent: 35px;
    color: #ffffff;
}

.auth a {
    text-decoration: none;
    color: black;
    padding: 10px;
    line-height: 70px;
    font-size: 20px;
}
.registration{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.head{
    text-align: center;
    margin-bottom: 4vh;
    background-color: #42a5f5;
    border-radius: 20px;
}
.registration .main{
    border: 2px solid black;
    width: 30vw;
    height: 70vh;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    flex-direction: column;
    margin-bottom: 10px;
}
.registration .main input{
    border-radius: 10px;
    width: 20vw;
    height: 4vh;
    margin: 5px;
}
.registration .main label{
    margin: 5px;
}