* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}

footer {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    position: fixed;
    background: black;
    color: white;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #42a5f5;
    border-bottom: 3px solid #e53935;
}

.logo_text {
    padding: 5px 10px;
    margin-left: 30px;
}

.logo_text h3 {
    text-indent: 35px;
    color: #ffffff;
}

.auth a {
    text-decoration: none;
    color: black;
    padding: 10px;
    line-height: 70px;
    font-size: 20px;
}

.section_book {
    display: flex;
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    border-bottom: 1px solid #bdbdbd;
}

.section_book_text {
    margin: 0 20px;
}

.section_book_text p {
    text-indent: 25px;
    text-align: justify;
}

.container{
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.container .head{
    position: relative;
    bottom: 80px;
    margin: 0;
    background-color: #42a5f5;
    text-align: center;
    border-radius: 20px;
}
input{
    border-radius: 10px;
    height: 3.5vh;
}
.login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 100px;
    border: 1px solid #000;
    border-radius: 50px;
}
.login .inp-password{
    margin-left: 35px;
}